@charset "UTF-8";

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

footer {
  background-color: #efefef;
}

.login_label {
  font-size: 14px;
}

.login_label_small {
  font-size: 10px;
}


#main_header {
  background-color: #3b5998;
  border-bottom: 1px solid #133783;
  color: white;
}
